flows.json
[{"id":"38dc81b1.5cad4e","type":"tab","label":"Flow 1"},{"id":"85c42eb0.ea109","type":"http in","z":"38dc81b1.5cad4e","name":"webhook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":91,"y":105,"wires":[["47d15781.61a5f8"]]},{"id":"a43e8588.9879a8","type":"http response","z":"38dc81b1.5cad4e","name":"webhook","statusCode":"","headers":{"Content-type":"application/json"},"x":651,"y":103,"wires":[]},{"id":"47d15781.61a5f8","type":"switch","z":"38dc81b1.5cad4e","name":"actions","property":"payload.result.action","propertyType":"msg","rules":[{"t":"eq","v":"nuevorecordatorio","vt":"str"},{"t":"eq","v":"borrarrecordatorio","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":247,"y":104,"wires":[["72c8880c.7dbfc8"],[],[]]},{"id":"1453e21f.e64f8e","type":"delay","z":"38dc81b1.5cad4e","name":"timer recordatorio","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":458,"y":219,"wires":[["e38242f0.0ac51","3c6d93af.a6e85c"]]},{"id":"ce917ced.1cb3","type":"http request","z":"38dc81b1.5cad4e","name":"Aviso","method":"POST","ret":"txt","url":"https://api.api.ai/v1/query?v=20150910","tls":"","x":421,"y":298,"wires":[["3c6d93af.a6e85c"]]},{"id":"72c8880c.7dbfc8","type":"change","z":"38dc81b1.5cad4e","name":"Parametros del timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload.result.parameters.time-period","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":451,"y":173,"wires":[["1453e21f.e64f8e","a43e8588.9879a8"]]},{"id":"e38242f0.0ac51","type":"function","z":"38dc81b1.5cad4e","name":"Setup","func":"msg.headers = {\n\"Content-Type\": \"application/json\",\n\"Authorization\": \"Bearer 885a401beba94fb989435fa7662a845e\"\n}\nmsg.payload = {\n    \"event\":{  \n\t\t\t\"name\":\"aviso\",\n\t\t\t\"data\":{\n\t\t\t\t\t\"message\":\"va a llover\"\n\t\t\t}\n\t\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":259,"wires":[["ce917ced.1cb3","3c6d93af.a6e85c"]]},{"id":"3c6d93af.a6e85c","type":"debug","z":"38dc81b1.5cad4e","name":"","active":true,"console":"false","complete":"false","x":601,"y":302,"wires":[]}]